$fontsPath: './rubik';

@font-face {
  font-family: 'Rubik-Regular';
  src: local('Rubik Regular'), local('Rubik-Regular'),
    url('#{$fontsPath}/subset-Rubik-Regular.woff2') format('woff2'),
    url('#{$fontsPath}/subset-Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Medium';
  src: local('Rubik Medium'), local('Rubik-Medium'),
    url('#{$fontsPath}/subset-Rubik-Medium.woff2') format('woff2'),
    url('#{$fontsPath}/subset-Rubik-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: local('Rubik Bold'), local('Rubik-Bold'),
    url('#{$fontsPath}/subset-Rubik-Bold.woff2') format('woff2'),
    url('#{$fontsPath}/subset-Rubik-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Black';
  src: local('Rubik Black'), local('Rubik-Black'),
    url('#{$fontsPath}/subset-Rubik-Black.woff2') format('woff2'),
    url('#{$fontsPath}/subset-Rubik-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Light';
  src: local('Rubik Light'), local('Rubik-Light'),
    url('#{$fontsPath}/subset-Rubik-Light.woff2') format('woff2'),
    url('#{$fontsPath}/subset-Rubik-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}